src/main/mule/hello-capilano.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1be463ad-2848-47d6-a989-fada4910d243">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-capilano" doc:id="8cc83ee9-6d8d-4f3a-961b-e374fd9a492a" >
		<http:listener doc:name="Listener" doc:id="abdb27cb-1ee8-4224-8fd1-550838f1d633" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value='#["Hello Capilano University! - new version"]' doc:name="Set Payload" doc:id="78e18b1e-c303-4cc1-9f78-0f845ff7d7a7" />
	</flow>
</mule>
